.accordion
  .accordion-item
    .accordion-header
     | #{accordionHeader1}
    .accordion-body
      #{accordionBody1}
  .accordion-item
    .accordion-header
     | #{accordionHeader2}
    .accordion-body
      #{accordionBody2}
  .accordion-item
    .accordion-header
     | #{accordionHeader3}
    .accordion-body
      #{accordionBody3}
      